.app {
  text-align: center;
  background: linear-gradient(to bottom, #ff8a00, #da1b60); /* Example gradient */
  height: 100vh;
  color: white;
}

.App-header {
  padding: 20px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.content {
  padding: 20px;
  }
